.navbar{
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    padding: 12px;
    border-radius: 16px;
    list-style: none;
    font-size: 24px;
}
.navbar li a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    background-color: lightgray;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .navbar{
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
    font-size: 18px;
  }
    
}