.body {
  font-family: Arial, sans-serif;  /* Font utama halaman */
  background: #f9fafb;             /* Warna latar belakang abu muda */
  color: #111827;                  /* Warna teks abu gelap */
  margin: 100px;                    /* Jarak luar halaman */
  line-height: 1.6;                /* Jarak antar baris teks */
}

.box {
  background: #fff;                /* Latar belakang  web nya putiiih */
  border: 1px solid #e5e7eb;       /* Garis tipis abu-abu muda biar nggak keramean warna*/
  border-radius: 20px;             /* Sudut kotak melengkung kagak terlalu tegang */
  padding: 15px;                   /* Spasi dalam kotak nya mas*/
  margin-bottom: 5px;              /* Jarak antar kotak yang ada di atas nya boy */
  margin-top: 80px;
  
  

}
.container {
  max-width: 1500px;   /* batas lebar tengah */
  margin:  auto;     /* otomatis tengah kiri-kanan */
  padding: 20px;
 
}
.nav-link :active{
    background: #fff;
    color: blue;
    background-color: #e5e7eb;
}


.a {
  color: black;                  /* Warna biru standar untuk link */
  text-decoration: none;           /* Menghilangkan garis bawah */
  transition: 0,3s;
}
